# === OS ===
.DS_Store
Thumbs.db

# === IDE ===
.idea/
*.iml
.vscode/

# === Android ===
Android/.gradle/
Android/.idea/
Android/build/
Android/app/build/
Android/local.properties
Android/captures/
Android/.externalNativeBuild/
Android/.cxx/

# === Gradle ===
*.hprof

# === Kotlin ===
*.class
